body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

::selection{
    background-color: #7D0A0D;
    color: white;
}

main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.7707457983193278) 0%, rgba(75,19,19,0.03405112044817926) 50%, rgba(0,0,0,0.804359243697479) 100%);
    z-index: -1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .logo{
    max-width: 350px;
    filter: brightness(75%);
    margin-top: 100px;
    margin-bottom: 80px;
}

.informacoes .descricao{
    display: none;
    width: 60%;
    font-size: 16px;
    color: white;
    line-height: 25px;
    animation: mudarTexto 0.8s;
    text-align: justify;
}

.informacoes .descricao.ativada{
    display: block;
}

.descricao .texto-marcado{
    color: rgb(180, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    
}

.descricao .italico{
    color: rgb(180, 0, 0);
    font-weight: bold;
    font-size: 18px;
}

.descricao .textoAncora{
    font-weight: bold;
    color:  rgb(180, 0, 0);
    border-color: black;
    filter: opacity(0.8);
    animation: ease-in-out;
}

.descricao .textoAncora:hover{
    filter: opacity(1);
}

.botoes-carrossel{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 100px;
}

.botoes-carrossel .botao{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 45%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: white;
}

.botoes-carrossel .botao.selecionado{
    background-color: #7D0A0D;
}

.menu-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-lateral .icone{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.65;
}

.menu-lateral .icone:hover{
    transform: scale(1.2);
    opacity: 1;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carrossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carrossel .imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: mudarImagem  0.7s;
}

.carrossel .imagem.ativa{
    display: block;
    
}

@keyframes mudarImagem{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}

@keyframes mudarTexto{
    from{
         opacity: 0;
         -webkit-transform: translateX(-100px);
    }
    to{
         opacity: 1;
         -webkit-transform: translateX();
    }
}

@keyframes mudarTexto2{
    from{
         opacity: 0;
         -webkit-transform: translateY(-100px);
    }
    to{
         opacity: 1;
         -webkit-transform: translateY();
    }
}